<div id="<%= dom_id employee %>" class = "table-row-group">
  <div class = "table-cell pr-4">
    <%= employee.name %>
  </div>

  <div class = "table-cell pr-4">
   <%= employee.categories%>
  </div>

  <div class = "table-cell pr-4">
  <span>₹</span>  <%= employee.position %>
  </div>

  <div class = "table-cell pr-4">
  <span>₹</span>  <%= employee.office %>
  </div>

  <div class = "table-cell pr-4">
    <%= employee.age %> <span>% off</span>
  </div>

  <div class = "table-cell pr-4">
    <%= employee.start_date %>
  </div>

</div>
